# Root — deployer account + contract
STELLAR_SECRET_KEY=
STELLAR_PUBLIC_KEY=
STELLAR_NETWORK=testnet
STELLAR_TESTNET_RPC=https://soroban-testnet.stellar.org
CONTRACT_ID=
ISSUER_PUBKEY=
ISSUER_PRIVKEY_PKCS8=
